node_modules
.next
.git
.github
e2e
playwright-report
test-results
**/.runtime
.env*
!.env.example
npm-debug.log*
README.md
docs
supabase/.branches
supabase/.temp
Dockerfile
.dockerignore
docker-compose.yml
